# Data files
dashboard*.json
dashboard*.html
/out/

# Datasets - only include sample (everything in it)
datasets/*
!datasets/sample

# Build outputs
*.exe
/k6
bin/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

#AI
.claude/
